.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden
{   /* Удаляем элемент из потока документа */
    position: absolute;
    /* Устанавливаем минимально возможный размер (некоторые скринридеры игнорируют элементы с нулевой высотой и шириной) */
    width: 1px;
    height: 1px;
    /* Похоже, никто до конца не понимает, почему тут margin: -1px. Кроме того, это приводит к проблемам (читай: https://github.com/h5bp/html5-boilerplate/issues/1985). */
    margin: -1px;
    /* Сбрасываем любые свойства, которые могут повлиять на размер элемента */
    border: 0px;
    padding: 0px;
    /* Временное решение для неверно произносимого, размазанного текста */
    white-space: nowrap;
/* Вырезаем ту часть контента, которая должна отображаться. */
/* clip-path для новых браузеров. inset(100%) определяет область вставки, которая позволит контенту исчезнуть.  */
    

            clip-path: inset(100%);
    /* Устаревшее свойство clip для старых браузеров */
            clip:rect(0 0 0 0);
    /* Скрываем вылезающий за границы контент */
    overflow: hidden;
}