$main-font-stack: 'Montserrat', 'Roboto', sans-serif;
$main-font-cursive: 'Kaushan Script', cursive;
$second-font-stack: 'Roboto', sans-serif;

$main-font-color: #ffffff;
$main-font-black-color:  #000000;
$main-font-black-color-butn:  #00000000;
$secondary-black-color: #333333;
$secondary-light-grey-color: #b3b3b3;

$main-acent-font-color: #fce38a;
$main-acent-red-font-color: #f38181;
$second-acent-green-color: #95e1d3;

$bg-gradient-yelow: #fce38ae6;
$bg-gradient-red: #f38181e6;