.section{
    padding-bottom: 100px;
}

.section__title{
    text-align: center;
    text-transform: uppercase; 
    font-family: $main-font-stack;
    color: $main-font-black-color;
    font-weight: 700;
    font-size: 30px;
    @extend %marg-auto-padg;
    margin-bottom: 64px;

&::after{
    @include pseudo(block);  
    width: 60px;
    height: 3px;
    background-color: $main-acent-red-font-color;
    margin:0 auto;
    margin-top: 40px;/*зазор для рысочки от текста растояние*/
}
}

.section__first{
    padding-top: 48px;
}

.section__cursiv{
    display: block;
    font-family: $main-font-cursive;
    font-weight: 400;
    @include font-settings(24px, 54px);
    text-transform: lowercase;   

&::first-letter{
    text-transform: uppercase;
}
}

.section__list{
    @extend %list;
    @include sp-flex('sp-between') ;
}

.section__text{
    font-family: $second-font-stack;
    font-weight: 400;
    @include font-settings();
    @extend %marg-auto-padg;
    color: $secondary-light-grey-color;
    text-align: center;
    margin-bottom: 90px;
}